doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Papereres
    link(rel='shortcut icon' href='./assets/icon/favicon.ico' type='image/x-icon')
    link(rel='icon' href='./assets/icon/favicon.ico' type='image/x-icon')
    link(rel='stylesheet' href='./src/css/main.css')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js')
    script(src='./dist/main.js' type='module' defer='')
    script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
    script(src='https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js' integrity='sha512-E0DKVahIg0p1UHR2Kf9NX7x7TUewJb30mxkxEm2qOYTVJObgsAGpEol9F6iK6oefCbkJiA4/i6fnTHzM6H1kEA==' crossorigin='')
  main
    section#widget
      section#menu
        section#nombreWidget
          img(src='./assets/img/papelera.webp' alt='Icono papelera')
          p INFORMACIÓ PAPERERES
        hr
        ul
          li
            a#generalViewButton VISTA GENERAL
          li
            a#stadisticsViewButton CRONOLOGIA D'ESTADÍSTIQUES
      section#generalView
        #map
        #datosSensores
          h2#title MITJANA DE LES PAPERERES
          h2#mesureDate
            br
          #temperatureMeasurer
          #medidor
      section#stadisticsView
        select(name='sensors')
        #stadisticsChart
          #backdrop
