* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
}

:root {
  font-size: 16px;
  font-family: "Baloo 2", cursive;
  color: black;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

section#widget {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.8fr 3fr;
  grid-template-rows: 0.8fr 3fr;
      grid-template-areas: "menu" "graficos";
  border: 1px solid #ffcd00;
  height: 100%;
  margin: 0;
}
section#widget > section#menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
  width: 100%;
  background-color: #ffcd00;
  height: 100%;
}
section#widget > section#menu > section#nombreWidget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.7rem 0 0.5rem 1rem;
}
section#widget > section#menu > section#nombreWidget > img {
  background-color: white;
  border-radius: 100%;
  width: 3rem;
  padding: 0.5rem;
}
section#widget > section#menu > section#nombreWidget > p {
  margin-left: 1rem;
  font-size: 1.2rem;
}
section#widget > section#menu > hr {
  border: 1px solid black;
}
section#widget > section#menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section#widget > section#menu > ul > li {
  border-radius: 0.5rem;
  margin: 1rem;
  width: 80%;
  cursor: pointer;
}
section#widget > section#menu > ul > li:hover {
  background-color: rgba(226, 189, 39, 0.5) !important;
}
section#widget > section#menu > ul > li:nth-child(1) {
  background-color: white;
}
section#widget > section#menu > ul > li > a {
  padding: 1rem 0 1rem 0;
  display: block;
  font-size: 1.2rem;
  text-align: center;
}
section#generalView {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: graficos;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
section#generalView > div#datosSensores > h2 {
  text-align: center;
}
section#generalView > div#datosSensores > h2#mesureDate {
  display: none;
}
section#generalView > div#datosSensores > div#medidor {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section#generalView > div#map {
  width: 100%;
  height: 100%;
}
section#stadisticsView {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  display: none;
  height: 100%;
  grid-area: graficos;
}
section#stadisticsView > div#stadisticsChart {
  height: 100%;
}
section#stadisticsView > select {
  display: none;
  cursor: pointer;
  margin: 1rem 0 1rem 1rem;
}

@media (max-width: 768px) {
  section#generalView {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  section#generalView > div#map {
    width: 100%;
    height: 30rem;
  }
  section#generalView > div#datosSensores > div#medidor {
    height: 20rem;
  }
  section#stadisticsView > select {
    text-align: center;
  }
}